
.link1{
  color:white;
  text-decoration: none;
}
.link3{
  color:white;
  text-decoration: none;
}
.link3:hover{
  color: white;
}
.link1:hover{
  color: grey;
}
body::-webkit-scrollbar{
  display: none;
}
.scrolled::-webkit-scrollbar{
	display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrolled{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.zigzag-timeline__item {
    /* Used to position the milestone */
    position: relative;

    /* Border */
    border-bottom: 1px solid #66DC71;

    width: 95%;
}

.zigzag-timeline__milestone {
    /* Absolute position */
    position: absolute;    
    top: 50%;

    /* Circle it */
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

    /* Misc */
    background: #66DC71;
}


/* Styles for even items */
.zigzag-timeline__item:nth-child(2n) {
    border-left: 1px solid #66DC71;
    
}
.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
    left: 0;
    transform: translate(-50%, -50%);    
}

/* Styles for odd items */
.zigzag-timeline__item:nth-child(2n + 1) {
    border-right: 1px solid #66DC71;
}
.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
    right: 0;
    transform: translate(50%, -50%);
}